[submodule "marketplaces/worktrunk"]
	path = marketplaces/worktrunk
	url = https://github.com/max-sixty/worktrunk
[submodule "marketplaces/skogai-marketplace"]
	path = marketplaces/skogai-marketplace
	url = git@github.com:SkogAI/marketplace.git
    branch = master
[submodule "projects/claude-memory"]
	path = projects/claude-memory
	url = git@github.com:SkogAI/claude-memory.git
    branch = master
[submodule "projects/gptme-contrib"]
	path = projects/gptme-contrib
	url = git@github.com:SkogAI/gptme-contrib.git
    branch = master
[submodule "projects/small-hours"]
	path = projects/small-hours
	url = git@github.com:small-hours-games/small-hours.git
    branch = master
[submodule "projects/headquarters/bootstrap"]
	path = projects/headquarters/bootstrap
	url = git@github.com:SkogAI/bootstrap.git
    branch = master
[submodule "projects/headquarters/container"]
	path = projects/headquarters/container
	url = git@github.com:SkogAI/container.git
    branch = master
