[submodule "marketplaces/superpowers-marketplace"]
	path = marketplaces/superpowers-marketplace
	url = https://github.com/obra/superpowers-marketplace.git
[submodule "marketplaces/superpowers"]
	path = marketplaces/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "marketplaces/episodic-memory"]
	path = marketplaces/episodic-memory
	url = https://github.com/obra/episodic-memory.git
[submodule "marketplaces/superpowers-lab"]
	path = marketplaces/superpowers-lab
	url = https://github.com/obra/superpowers-lab.git
[submodule "marketplaces/claude-session-driver"]
	path = marketplaces/claude-session-driver
	url = https://github.com/obra/claude-session-driver.git
[submodule "marketplaces/double-shot-latte"]
	path = marketplaces/double-shot-latte
	url = https://github.com/obra/double-shot-latte.git
[submodule "marketplaces/superpowers-developing-for-claude-code"]
	path = marketplaces/superpowers-developing-for-claude-code
	url = https://github.com/obra/superpowers-developing-for-claude-code.git
[submodule "marketplaces/worktrunk"]
	path = marketplaces/worktrunk
	url = https://github.com/max-sixty/worktrunk
