[submodule "marketplaces/worktrunk"]
	path = marketplaces/worktrunk
	url = https://github.com/max-sixty/worktrunk
[submodule "marketplaces/skogai-marketplace"]
	path = marketplaces/skogai-marketplace
	url = git@github.com:SkogAI/marketplace.git
